@use "/styles/abstracts" as *;

.form {
  display: grid;
  gap: $size-5;

  div {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  svg {
    color: $color-grey;
    height: 100%;
    margin-right: $size-4;
    position: absolute;
  }

  input {
    background-color: $color-white;
    border: 1px solid $color-grey;
    font-size: $size-4;
    padding: $size-4 $size-12 $size-4 $size-4;
    width: 100%;
  }
}
